PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/infralense?schema=public"
JWT_SECRET="secret_for_jwt_15m"
JWT_REFRESH_SECRET="secret_for_refresh_7d"
REDIS_URL="redis://localhost:6379"
